<!-- Page Content -->

<div class="container">
  <div class="jumbotron">
    <div class="container">
      <img src="~/Img/newlogo.png" />
    </div>
    <p>Budakuten är en hemsida som hjälper företag och yrkeschaufförer att få kontakt med varandra. </p>
  </div>

</div>
@if (!User.Identity.IsAuthenticated)
{
  <div class="container">
    <p>@Html.ActionLink("Logga in", "Login", "Account") eller @Html.ActionLink("Registera", "Index", "Registration") dig för att komma igång!</p>

  </div>
}


<!-- /.container -->
