@model CompanyIndexVm
<div class="container">
    <!-- Page Heading -->
    <section>
        <h1 class="my-4">
            @User.Identity.Name
        </h1>
    </section>
    <a asp-controller="Company" asp-action="CreateAd" class="btn btn-success">Skapa ny Annons</a>
    <main>

        @if (Model?.AdsNotStarted != null && Model?.AdsNotStarted.Count() > 0)
        {
            <h3>Dina kommande uppdrag</h3>
            foreach (var ad in Model?.AdsNotStarted)
            {
                <partial name="_CompanyDetailsPartielV" model="ad" />

            }
            <partial name="_PaginationPartielV" />
        }
        else
        {
            <p>Det finns inga kommande uppdrag just nu</p>
        }



        @if (Model?.AdsActive != null && Model?.AdsActive.Count() > 0)
        {
            <h3>Dina pågeånde uppdrag</h3>
            foreach (var ad in Model?.AdsActive)
            {
                <partial name="_CompanyDetailsPartielV" model="ad" />
            }
            <partial name="_PaginationPartielV" />
        }
        else
        {
            <p>Det finns inga pågående uppdrag just nu</p>
        }


        @if (Model?.AdsFinished != null && Model?.AdsFinished.Count() > 0)
        {
            <h3>Dina avslutade uppdrag</h3>
            foreach (var ad in Model?.AdsFinished)
            {
                <partial name="_CompanyDetailsPartielV" model="ad" />
            }
            <partial name="_PaginationPartielV" />
        }
        else
        {
            <h3>Du har inga avslutade uppdrag än</h3>
        }


    </main>
</div>
<!-- /.container -->