@model CompanyIndexVm
<div class="container">
    <!-- Page Heading -->
    <section>
        <h1 class="my-4">
            @User.Identity.Name
        </h1>
    </section>
    <a asp-controller="Company" asp-action="CreateAd" class="btn btn-success">Skapa ny Annons</a>
    <main>

        @if (Model?.AdsNotStarted != null && Model?.AdsNotStarted.Count() > 0)
        {

            <h3>Dina kommande uppdrag</h3>
            <div class="row">
                @foreach (var ad in Model?.AdsNotStarted)
                {
                    <partial name="_CompanyDetailsPartielV" model="ad" />

                }
            </div>
            <hr />

        }
        else
        {

            <hr />
            <h3>Det finns inga kommande uppdrag just nu</h3>
            <hr />
        }



        @if (Model?.AdsActive != null && Model?.AdsActive.Count() > 0)
        {
            <h3>Dina pågeånde uppdrag</h3>
            <div class="row">
                @foreach (var ad in Model?.AdsActive)
                {
                    <partial name="_CompanyDetailsPartielV" model="ad" />
                }
            </div>

            <hr />
        }
        else
        {

            <hr />
            <h3>Det finns inga pågående uppdrag just nu</h3>
            <hr />
        }


        @if (Model?.AdsFinished != null && Model?.AdsFinished.Count() > 0)
        {
            <h3>Dina avslutade uppdrag</h3>
            <div class="row">

                @foreach (var ad in Model?.AdsFinished)
                {
                    <partial name="_CompanyDetailsPartielV" model="ad" />
                }
            </div>

            <hr />
        }
        else
        {

            <hr />
            <h3>Du har inga avslutade uppdrag än</h3>
            <hr />
        }


    </main>
</div>
<!-- /.container -->