@model LeveransAkuten.Models.ViewModels.Ads.AdsVm
@*
  For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container">
  <div class="jumbotron">
    <h1>Search Ad</h1>
  </div>
</div>

<div class="container">
  <div class="jumbotron">
    <h3>Välj körkort som krävs för jobbet</h3>
    <div class="form-group">
      <form asp-controller="Driver" asp-action="SearchAd">
        <div class="form-group">
          <label asp-for="Arequired"></label>
          <input asp-for="Arequired" type="checkbox" class="form-control">
          <span asp-validation-for="Arequired"></span>
        </div>
        <div class="form-group">
          <label asp-for="Brequired"></label>
          <input asp-for="Brequired" type="checkbox" class="form-control">
          <span asp-validation-for="Brequired"></span>
        </div>
        <div class="form-group">
          <label asp-for="Crequired"></label>
          <input asp-for="Crequired" type="checkbox" class="form-control">
          <span asp-validation-for="Crequired"></span>
        </div>
        <div class="form-group">
          <label asp-for="Cerequired"></label>
          <input asp-for="Cerequired" type="checkbox" class="form-control">
          <span asp-validation-for="Cerequired"></span>
        </div>
        <div class="form-group">
          <label asp-for="Drequired"></label>
          <input asp-for="Drequired" type="checkbox" class="form-control">
          <span asp-validation-for="Drequired"></span>
        </div>
        <button type="submit" class="btn btn-primary">Sök</button>

      </form>

    </div>
  </div>
  <div class="container">
    <p>@Html.ActionLink("Sök", "DisplayAds", "Driver")</p>

  </div>

</div>
